<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>about</title>
    </head>
    <body>
        <h1>Welcome to my website!</h1>
        <h2>I am <em>Steven Santel</em></h2>
        <p>I grew up in <strong>Garden City, NY</strong> and was raised by my parents Monica and Steven. I have 2 siblings named Juliana and Alexandria! </p>
        <h2>My Senior year at the <em>University of Maryland</em> </h2>
        <p>I am expected to graduate this May with a degree in both <strong>Finance and Information Systems.</strong> </p>
        <h2>Fun Facts about me!</h2>
        <!-- This is my list section -->
        <p>My Favorite Activities to do at UMD are: </p>

        <ul>
            <li>Basketball Games</li>
            <li>Football Games</li>
            <li>Hangout on Mckeldin Mall</li>
            <li>Get food at Stamp Student Union</li>
        </ul>

        <p>My Favorite Places to eat around UMD are: </p>

        <ol>
            <li>The Hall</li>
            <li>Chic Fil A</li>
            <li>Cava</li>
            <li>Burton's</li>
        </ol>
        <!-- This is my table section for courses I have taken -->
        <p>Some courses I have taken at Maryland.</p>
        <table>
            <tr>
                <th>Course Name |</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT340</td>
                <td>Fall 2021</td>
            </tr>
            <tr>
                <td>ENGL101</td>
                <td>Fall 2019</td>
            </tr>
            <tr>
                <td>BMGT407</td>
                <td>Spring 2023</td>
            </tr>
        </table>
        <!--This is the section I will begin to work on hyperlinks and images -->
        <h2>Here are some of my favorite links!</h2>
        <p>This is the link to my <a href="http://127.0.0.1:5000/hello">Hello Page</a>.</p>
        <p>This is the link to <a href="https://www.foxsports.com/">FOX Sports</a>.</p>
        <p>This is the link to <a href="https://www.espn.com/fantasy/football/" target="_blank"> Fantasy Football</a>.</p>
        <h2>Here is the logo of the Robert H. Smith School of Business!</h2>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith school logo" >




</body>
</html>