{% extends "base.html" %}
{% block page_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
</head>
<body>
    <div class="container">
        <h1>Contact Form</h1>
        {% if form_submitted %}
            <div class="col-12">
                <h2>Congratulations, you have completed my form!</h2>
            </div>
            <div class="col-md-6">
                <p>First Name:</p>
            </div>
            <div class="col-md-6">
                <p>{{ request.form.get('first_name') }}</p>
            </div>
            <div class="col-md-6">
                <p>Last Name:</p>
            </div>
            <div class="col-md-6">
                <p>{{ request.form.get('last_name') }}</p>
            </div>
            <div class="col-md-6">
                <p>Middle Name:</p>
            </div>
            <div class="col-md-6">
                <p>{{ request.form.get('middle_name') }}</p>
            </div>
            <div class="col-md-6">
                <p>Email Address:</p>
            </div>
            <div class="col-md-6">
                <p>{{ request.form.get('email') }}</p>
            </div>

        </div>
        <p><a href="{{ url_for('contact') }}">Complete Form Again</a></p>
        {% else %}

        <form class="row g-3" action="{{ url_for('contact') }}" method="post">
            <div class="col-md-6">
              <label for="first_name" class="form-label">First Name</label>
              <input type="text" class="form-control" id="first_name" name="first_name" required/>
            </div>
            <div class="col-md-6">
              <label for="last_name" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="last_name" name="last_name" required/>
            </div>
            <div class="col-md-6">
              <label for="middle_name" class="form-label">Middle Name</label>
              <input type="text" class="form-control" id="middle_name" name="middle_name" required/>
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" required/>
            </div>
            <div class="col-12">
              <button type="Submit" class="btn btn-primary">Submit Form</button>
            </div>
        </form>
        {% endif %}
</body>
{% endblock %}
</html>